.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 0;
    background-color: #2b2d30;
    height: 100%;
    width: 100%;
    padding: 34px;
    overflow: scroll;
}

.list-header {
    margin-bottom: 32px;
    font-size: x-large;
}

.notebook-list {
    min-width: 400px;
}

.notebook-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 400px;
    padding: 16px;
    cursor: auto;
}

.item-active {
    background-color: #3d4047;
}

.notebook-list-item:hover {
    background-color: #3d4047;
}

.checkbox-container {
    padding-left: 8px;
}

.btn-success {
    padding-top: 6px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 6px;
}

#save-notebooks-btn {
    display: none;
    margin-bottom: 32px;
}

#add-notebook-to-list {
    display: none;
    width: 46px;
    margin-bottom: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .notebook-list {
        min-width: 0;
    }
    .list-container {
        position: relative;
        top: 0;
    }
  }