#notebook-container {
    margin-left: 0;
    background-color: #1e1f22;
    border-left: 1px solid black;
    min-height: 100vh;
    color: #b4b4b4;
    text-align: center;
    align-content: center;
    margin-right: 3px;
    margin-top: 54px;
}

#notebook-spinner {
    position: absolute;
    display: none;
    top: 440px;
    left: calc(100vw - 560px);
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }
