#drag-on-checkbox {
}

#bottom-icon {
    display: none;
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
}

.drag-on-text {
    position: relative;
    margin-top: -8px;
    left: -70px;
    float: left;
    font-size: medium;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#reload-icon {
    margin: 0;
    width: 30px;
    padding: 2px;
    cursor: pointer;
    animation-duration: 1000ms;
    animation-iteration-count: unset;
    position: absolute;
    left: 20px;
}

#add-notebook {
    width: 30px;
    cursor: pointer;
    float: left;
    margin-left: 50px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.list-header {
    color: #b4b4b4;
    padding: 10px;
    height: 54px;
}

.list-group {
    overflow: scroll;
    max-height: calc(100vh - 75px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.list-group::-webkit-scrollbar {
    display: none;
}

.list-group-item {
    background-color: #2b2d30;
    color: #b4b4b4;
    border: 1px solid #434447;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #3d4047;
}

@media only screen and (max-width: 768px) {
    .switch {
        left: 80px;
    }

    #bottom-icon {
        display: block;
        width: 32px;
        height: 32px;
    }

    #add-notebook {
        display: block;
        width: 32px;
        height: 32px;
        margin-left: 16px
    }

    #reload-icon {
        display: none;
    }

    .list-header {
        display: flex;
        padding: 10px;
    }

    .list-group-item {
        overflow: scroll;
    }
}